---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 5117ecce-ec9d-4f73-988d-1b33e5c1bfea
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","participants":["5678","1234"],"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-29T23:06:16.420Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages"}'
  recorded_at: Fri, 29 Jan 2016 23:06:16 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 5117ecce-ec9d-4f73-988d-1b33e5c1bfea
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","participants":["5678","1234"],"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-29T23:06:16.420Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages"}'
  recorded_at: Fri, 29 Jan 2016 23:06:17 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/dontexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 557345f5-3ed5-47ed-a4b5-2975a467c5b2
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: The requested resource could not be found.
  recorded_at: Fri, 29 Jan 2016 23:06:17 GMT
- request:
    method: patch
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea
    body:
      encoding: UTF-8
      string: '[{"operation":"add","property":"participants","value":"user1"},{"operation":"add","property":"participants","value":"user2"}]'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/vnd.layer-patch+json
      If-None-Match:
      - 4cc2e9b3-d2b2-4e92-9c2d-d3c0dd9b2333
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Jan 2016 23:06:18 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages
    body:
      encoding: UTF-8
      string: '{"sender":{"user_id":"1234"},"parts":[{"body":"Hello, World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 2849d4f1-db89-4ffc-8cbf-37db66b6d1b4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"conversation":{"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea"},"url":"https://api.layer.com/apps/<APP_ID>/messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","sent_at":"2016-01-29T23:06:22.744Z","id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","recipient_status":{"1234":"read","5678":"sent","user2":"sent","user1":"sent"},"sender":{"user_id":"1234"},"parts":[{"mime_type":"text/plain","body":"Hello,
        World!"},{"mime_type":"image/jpeg","body":"any carnal pleasure"}]}'
  recorded_at: Fri, 29 Jan 2016 23:06:22 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - ae99e05f-aff3-448e-9ac6-6459167f1b59
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Layer-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","receipts_url":null,"position":null,"conversation":{"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea"},"parts":[{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4/parts/0","mime_type":"text/plain","body":"Hello,
        World!","encoding":null,"content":null},{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4/parts/1","mime_type":"image/jpeg","body":"any
        carnal pleasure","encoding":null,"content":null}],"sent_at":"2016-01-29T23:06:22.744Z","received_at":null,"sender":{"user_id":"1234","name":null},"is_unread":null,"recipient_status":{"1234":"read","5678":"sent","user1":"sent","user2":"sent"},"notification":null}]'
  recorded_at: Fri, 29 Jan 2016 23:06:23 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - d252d645-6e19-4fad-8034-51cee37f31f7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/users/test/blocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 4c0af4e9-4e1c-4949-a323-63b3d5b7c5de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 29 Jan 2016 23:08:53 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/notfound
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - daf7919e-fa2b-4e58-b0f6-e8c96078ef52
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: The requested resource could not be found.
  recorded_at: Fri, 29 Jan 2016 23:08:54 GMT
recorded_with: VCR 2.9.3
