---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 2d00c19f-1846-4428-805c-6d6f65e46dd1
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/2d00c19f-1846-4428-805c-6d6f65e46dd1","participants":["5678","1234"],"id":"layer:///conversations/2d00c19f-1846-4428-805c-6d6f65e46dd1","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-29T23:06:24.746Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/2d00c19f-1846-4428-805c-6d6f65e46dd1/messages"}'
  recorded_at: Fri, 29 Jan 2016 23:06:24 GMT
- request:
    method: delete
    uri: https://api.layer.com/apps/<APP_ID>/conversations/2d00c19f-1846-4428-805c-6d6f65e46dd1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 2d00c19f-1846-4428-805c-6d6f65e46dd1
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Jan 2016 23:06:25 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/2d00c19f-1846-4428-805c-6d6f65e46dd1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 2d00c19f-1846-4428-805c-6d6f65e46dd1
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"object_deleted","code":103,"message":"The referenced conversation
        has been deleted.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Fri, 29 Jan 2016 23:06:26 GMT
recorded_with: VCR 2.9.3
