---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 4cc2e9b3-d2b2-4e92-9c2d-d3c0dd9b2333
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","participants":["1234","5678","user2","user1"],"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-29T23:06:16.420Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages"}'
  recorded_at: Fri, 29 Jan 2016 23:06:20 GMT
recorded_with: VCR 2.9.3
