---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/users/test/blocks
    body:
      encoding: UTF-8
      string: '{"user_id":"blocked"}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 18 Jul 2015 22:31:51 GMT
[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/users/testuser/blocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"user_id":"blocked"},{"user_id":"enemy"}]'
  recorded_at: Sat, 18 Jul 2015 22:34:21 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/users/testdelete/blocks
    body:
      encoding: UTF-8
      string: '{"user_id":"newblocked"}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 18 Jul 2015 22:39:46 GMT
- request:
    method: delete
    uri: https://api.layer.com/apps/<APP_ID>/users/testdelete/blocks/newblocked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 18 Jul 2015 22:39:47 GMT
[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/users/1234/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - a9436ec1-974b-4a0c-ba47-bebd44051e85
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Layer-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","url":"https://api.layer.com/apps/<APP_ID>/users/1234/messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4","receipts_url":null,"position":14282194944,"conversation":{"id":"layer:///conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea","url":"https://api.layer.com/apps/<APP_ID>/users/1234/conversations/5117ecce-ec9d-4f73-988d-1b33e5c1bfea"},"parts":[{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4/parts/0","mime_type":"text/plain","body":"Hello,
        World!","encoding":null,"content":null},{"id":"layer:///messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4/parts/1","mime_type":"image/jpeg","body":"any
        carnal pleasure","encoding":null,"content":null}],"sent_at":"2016-01-29T23:06:22.744Z","received_at":"2016-01-29T23:06:22.776Z","sender":{"user_id":"1234","name":null},"is_unread":false,"recipient_status":{"5678":"sent","1234":"read","user1":"sent","user2":"sent"},"notification":null}]'
  recorded_at: Fri, 29 Jan 2016 23:08:41 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/users/1234/messages/2849d4f1-db89-4ffc-8cbf-37db66b6d1b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 91abdda8-7753-4d0d-a6fd-3a9f1c073694
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      [...]
